.recipe{
    border-bottom: 4px dashed green;
    margin-bottom: 5px;
    padding-top: 2px;
}

.btn{
    float: right;
    width: 80px;
    color: red;
    padding: 5px;
}
.h1 {
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

